
$primary-color: color("amber", "base");
$secondary-color: color("blue-grey", "darken-2");

$mex-primary-bg-color: color("blue-grey", "darken-4");
$mex-secondary-bg-color: color("blue-grey", "darken-3");

//$off-black: white;
//$off-black: color("grey", "lighten-5");
$off-black: color("blue-grey", "lighten-5");

$card-bg-color: $mex-secondary-bg-color;

// Header Styles
$h1-fontsize: 2rem !default;
$h2-fontsize: 1.5rem !default;
$h3-fontsize: 1.17rem !default;
$h4-fontsize: 1rem !default;
$h5-fontsize: .83rem !default;
$h6-fontsize: .75rem !default;


