// global.scss

@import "./materialize.scss";

$buy-color: color("green", "lighten-1");
$sell-color: color("red", "lighten-1");

.me-buy {
  background-color: $buy-color;
}

.me-sell {
  background-color: $sell-color;
}


/* I think this stuff is to push Footer to the bottom
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
*/

