// global.scss

@import "./materialize.scss";

$buy-color: color("green", "lighten-1");
$sell-color: color("red", "lighten-1");

.login-container {
  max-width: 500px;
}

body {
  background-color: $mex-primary-bg-color;
}

nav {
  background-color: $mex-secondary-bg-color;
}

nav .mex-brand-logo {
  color: $primary-color;
}

input {
  color: $off-black;
}

table tr.disabled td {
  color: $mex-disabled-table-color;
}

.me-buy {
  background-color: $buy-color;
}

.me-sell {
  background-color: $sell-color;
}

.mex-primary-color {
  background-color: $primary-color;
}

.mex-primary-text-color {
  color: $primary-color;
}

.mex-card-panel {
  padding: 5px 24px;
}

.mex-title-panel {
  background-color: $mex-secondary-bg-color;
  font-weight: bold;
}

.mex-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.mex-btn-group > button {
  margin-left: .5em;
}

.mex-btn-group > button:first-child {
  margin-left: 0;
}

.mex-btn-group-justified > button {
  flex: 1;
}

.mex-btn-primary {
  //background-color: $primary-color;
}

.mex-id-field {
  font-family: monospace;
}

// autocompleter

.autocomplete {
    background: white;
    color: black;
    z-index: 1000;

    //font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    //border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 10px 15px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background-color: $highlight-color;
    cursor: pointer;
}


/* I think this stuff is to push Footer to the bottom
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
*/

